alias ll='ls -l'
alias la='ls -a'
alias lla='ls -al'

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

alias grep='grep --color=auto'

alias ..='cd ..'
alias ...='cd ../..'

alias vi='nvim'
alias vim='nvim'

alias g='git'

